*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}
header{
    background-color: rgb(4, 140, 213);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    border-radius: 100px;
    width: 100px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-buttons{
    display: flex;
    gap: 20px;
}

.header-btn{
    border: none;
    background-color: white;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
}


.navbar{
    background-color: #333;

}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
}

.navbar li{
    margin: 0 15px;
}
.navbar a{
    color:white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
}


.product-list{
    padding: 2rem;
    text-align: center;
}
.product-container{
    display: grid;
    grid-template-columns: repeat( 4 , 1fr);
    gap: 1.5rem;
    justify-content: center;
    padding: 0 1rem;
}


.product-card{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 1rem;
    text-align: center;
    transition: transform.3s;
}
.product-card :hover{
    transform: scale(1.02);
}
.product-card img{
    max-width: 100%;
    border-radius: 8px;
}


.about-section{
    background-color: #f9f9f9;
    padding: 2rem;
    text-align: justify;
}
.about-section h2{
    text-align: center;
}
.about-section p{
    margin-top: 1px;
    font-size: 1.2rem;
    line-height: 1.6;
}


.contact-section{
    padding: 2rem;
    text-align: center;
}
.contact-form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    font-weight: bold;
}
.contact-form input,
.contact-form textarea,
.contact-form button{
    width: 100%;
    padding: 7px;
    font-size: 1rem;
    border-radius: 5px;
}
.contact-form button{
    background-color: rgb(4,140,213);
    color: white ;
    border: none;
    cursor: pointer;
    transition: transform .5s;
}
.contact-form button:hover{
    transform: scale(1.05);
}


.footer{
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}
.footer-links a{
    color: rgb(4,140,213);
    text-decoration: none;
    margin: 0 5px;
}
.footer-link a:hover{
    text-decoration: underline;
    color: white;
}


.fa-facebook{
    background-color: white;
    padding: 5px;
    color: blue;
    font-size: 18px;
    border-radius: 5px;
}
.fa-instagram{
    background-color: white;
    padding: 5px;
    color: rgb(243,17,145);
    font-size: 18px;
    border-radius: 5px;
}
.fa-youtube{
    background-color: white;
    padding: 5px;
    color: red;
    font-size: 18px;
    border-radius: 5px;
}
.fa-x-twitter{
    background-color: white;
    padding: 5px;
    color: black;
    font-size: 18px;
    border-radius: 5px;
}